{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
   
    .cart-item {
        border-top: 1px solid #e6e6e6;
        padding: 20px 0;
    }

    .cart-item h3 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
    }

    .cart-item .price {
        font-size: 20px;
        color: #888;
    }

    .count-input {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .count-input a {
        background-color: #f2f2f2;
        color: #000;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .count-input a:hover {
        background-color: #dcdcdc;
    }

    .count-input input {
        width: 50px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 0 5px;
        padding: 5px;
        font-size: 14px;
    }

    .remove-item {
        font-size: 24px;
        color: #000;
        transition: color 0.3s ease;
    }

    .remove-item:hover {
        color: #ff0000;
    }

    .empty-cart {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .empty-cart h1 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
    }

    .empty-cart p {
        font-size: 20px;
        margin-bottom: 40px;
        color: #888;
    }

    .empty-cart a {
        font-size: 20px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .empty-cart a:hover {
        background-color: #0056b3;
    }

    .cart-total {
        font-size: 24px;
        font-weight: bold;
        color: #000;
        text-align: right;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .checkout-btn {
        font-size: 20px;
        padding: 15px 30px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        display: inline-block;
    }

    .checkout-btn:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}

{% block body %}
<main class="page-wrapper">
    {% if cart|length > 0 %}
    <div class="container position-relative zindex-2 pt-5 pb-lg-5 pb-md-4 pb-2">
        <div class="row">
            <div class="col-lg-12 offset-lg-1 pt-1">
                <h2 class="pt-md-2 my-4 mt-lg-5">Mon Panier</h2>
                <p>
                    Ajouter d'autres articles disponibles sur le site <a href="{{ path('app_product_index') }}">Voir les articles</a>
                </p>
                {% set total = null %}
                {% for cartItem in cart %}
                {% set total = total + (cartItem.product.price * cartItem.quantity) %}

                <div class="cart-item">
                    <div class="w-100 pt-1 ps-sm-4">
                        <div class="d-flex">
                            <div class="me-3">
                                <h3 class="h5 mb-2">{{ cartItem.product.title }}</h3>
                          
                            </div>
                            <div class="text-end ms-auto">
                                <div class="price">{{ (cartItem.product.price * cartItem.quantity)}} €</div>
                            </div>
                        </div>
                        <div class="count-input ms-n3">
                            <a href="{{ path('cart_decrease', {id: cartItem.product.id}) }}" class="btn btn-icon fs-xl" data-decrement>-</a>
                            <input type="number" class="form-control" value="{{ cartItem.quantity }}" readonly>
                            <a href="{{ path('cart_add', {id: cartItem.product.id}) }}" class="btn btn-icon fs-xl" data-increment>+</a>
                        </div>
                        <div class="nav justify-content-end mt-n5 mt-sm-n3">
                            <a href="{{ path('cart_remove',{id: cartItem.product.id})}}" class="nav-link fs-xl p-2 remove-item" data-bs-toggle="tooltip" title="Remove">
                                <i class="fa-solid fa-trash" style="color: #000000;"></i>
                            </a>
                        </div>
                    </div>
                </div>

                {% endfor %}
                <div class="cart-total">Total: {{ total }} €</div>
                <div class="d-sm flex align-items-center border-top py-4"></div>
                <a href="{{path('order_create')}}" class="checkout-btn">Valider mon panier</a>
               
            </div>
        </div>
    </div>
    {% else %}
    <div class="container position-relative zindex-2 pt-5 pb-lg-5 pb-md-4 pb-2">
        <div class="row">
            <div class="col-lg-12 offset-lg-1 pt-1">
                <h2 class="pt-md-2 my-4 mt-lg-5">Mon Panier</h2>
                <p>Votre panier est vide.</p>
                <p>
                    Ajouter des articles disponibles sur le site <a href="{{ path('app_product_index') }}">Voir les produits</a>
                </p>
            </div>
        </div>
    </div>
    {% endif %}
</main>
{% endblock %}
